<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Senior Software Developer working at GFT IT Consulting S.L.U, having previously spent over 3 years as a Software developer and 1 year as IT Analyst at Tata Consultancy Services, giving me a good blend of enterprise experience. <br/><br/>
			I enjoy working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>
